@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Teko&display=swap");
/*familia de fuentes: 'Oswald', sans-serif;
familia de fuentes: 'Teko', sans-serif;*/

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.hero {
  color: #ffffff;
  text-align: center;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #000000; /* Color de fondo del cuadro */
  border: 2px solid #000000; /* Grosor y color del borde */
  border-radius: 20px; /* Bordes redondos */
  padding: 15px; /* Espaciado interno del cuadro */
  box-shadow: 0 0 10px rgb(0, 13, 255); /* Sombreado */
  margin-bottom: 20px; /* Espacio en la parte inferior del cuadro */
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
header img {
  width: 50px; /* Ajusta el tamaño del logo según tus necesidades */
  margin-right: 10px;
  text-align: justify;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.subir {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.producto {
  background-color: #000000;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.producto h3 {
  font-size: 28px;
  color: #000000; /* Amarillo */
  margin-bottom: 10px;
}

.producto img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra amarilla */
  margin-bottom: 15px;
}

.producto p {
  font-size: 18px;
  color: #000000; /* Negro */
  margin-bottom: 15px;
}

.producto ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 15px;
}

.producto li {
  font-size: 16px;
  color: #000000; /* Negro */
  margin-bottom: 5px;
}

.detalles {
  background-color: #002fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}
h2 {
  text-decoration: underline;
  text-shadow: 0cm;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  text-shadow: #2f00ff 0 0 5px;
}

.producto {
  margin-bottom: 30px;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Aplicar un tamaño máximo a las imágenes */
.producto img {
  max-width: 250px; /* Las imágenes no se agrandarán más allá del 100% del ancho del contenedor padre */
  height: auto; /* Mantener la proporción de aspecto original */
}

.producto h3 {
  font-size: 20px;
  margin: 10px 0;
}

.producto p {
  font-size: 16px;
}

#tw {
  color: rgb(0, 255, 255);
}

#fa {
  color: blue;
}

#in {
  color: #ff00ea;
}

.producto a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}
.producto a:hover {
  background-color: #d4cdcd;
}

.carousel-inner {
  max-width: 40%;
  margin: 0%;
}
/* Estilo personalizado para el carrusel */
.custom-carousel {
  width: 250px; /* Personaliza el ancho según tus necesidades */
  height: auto;
}
.sociales {
  letter-spacing: 10px;
  font-size: 35px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
.sociales :hover {
  transform: scale(1.1);
}
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  nav ul {
    text-align: center;
  }

  nav li {
    display: block;
    margin-bottom: 10px;
  }

  main {
    padding: 10px;
  }

  .producto {
    padding: 10px;
  }

  .producto img {
    max-width: 250px;
    height: auto;
  }
}
